slurm*

.gitignore
.vscode/
__pycache__/
lib/__pycache__/
monkey_patch/__pycache__
results/
old_results/
tmp*
attn_maps*
*.pt
*.npy
lm-evaluation-harness/
activation_patching.py
dataset.py
main_eval.py
search.py
perplexity.py
old_dataset.py